{% extends "base.html" %}
{% load static %}
{% block title %} О нас {% endblock %}
{% block content %}
    <div class="about">
        <div class="container">
            <div class="about__content flex--column">
                <p class="about__title">BigGeek</p>
                <div class="about__block flex--row">
                    <img class="about_block__image" src="/static_dev/svg/bag.svg">
                    <p class="about_block__text text--default">Лучший магазин в мире, нет на свете ни одного, который бы мог посоревноваться с нашим в количестве geek'овских вещей, фигурок и множества интересного.</p>
                </div>
                <div class="about__block flex--row">
                    <img class="about_block__image" src="/static_dev/svg/chat.svg">
                    <p class="about_block__text text--default">Администрация отвечает в течение 100 лет, желательно обращаться к контактам, указанным снизу</p>
                </div>
                <div class="about__block flex--row">
                    <img class="about_block__image" src="/static_dev/svg/liciense.svg">
                    <p class="about_block__text text--default">Наши лучшие работники - Савва, Даня, Максим, Влад, Никита и Андрей.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}