<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static_dev/css/style.css">
    <title>forum product flud</title>
</head>
<body>
    
    <div class="flud">
        <div class="container">
            <div class="flud__content flex--column">
                <div class="flud__card flex--row">
                    <img class="flud_card__image" src="../../static_dev/images/placeholderImage.png">
                    <div class="flud_card__info flex--column">
                        <p class="flud_card_info__name">Название товара</p>
                        <p class="flud_card_info__description">text<br>text<br>text</p>
                        <div class="flud_card_info__images flex--row">
                            <img src="../../static_dev/svg/ministar.svg" class="flud_card_info_images_pic">
                            <img src="../../static_dev/svg/ministar.svg" class="flud_card_info_images_pic">
                            <img src="../../static_dev/svg/ministar.svg" class="flud_card_info_images_pic">
                            <img src="../../static_dev/svg/ministar.svg" class="flud_card_info_images_pic">
                            <img src="../../static_dev/svg/ministar.svg" class="flud_card_info_images_pic">
                        </div>
                    </div>
                    <div class="flud_card__buying flex--column">
                        <p class="flud_card_buying__price">1703 &#8381;</p>
                        <button class="flud_card_buying__button margin--button button button--dgreen text--default">
                            Купить
                        </button>
                        <button class="flud_card_buying__button button button--lgreen text--default">
                            В корзину
                        </button>
                    </div>
                </div>
                <div class="flud__main flex--column">
                    <div class="margin">  </div>
                    <div class="flud_main__message flex--column">
                        <div class="flud_main_message__body">
                            <div class="flud_main_message__rating flex--column">
                                <img class="flud_main_message_rating__image" src="../../static_dev/svg/triangleup.svg">
                                <p class="flud_main_message_rating__text text--default">1</p>
                                <img class="flud_main_message_rating__image" src="../../static_dev/svg/triangledown.svg">
                            </div>
                            <p class="flud_main_message__name">nickname</p>
                            <p class="flud_main_message__text">text</p>
                            <p class="flud_main_message__time"> 20:00</p>
                        </div>
                        <img class="flud_main_message__tail" src="../../static_dev/svg/triangle.svg">
                    </div>
                    <div class="flud_main__message flex--column">
                        <div class="flud_main_message__body">
                            <div class="flud_main_message__rating flex--column">
                                <img class="flud_main_message_rating__image" src="../../static_dev/svg/triangleup.svg">
                                <p class="flud_main_message_rating__text text--default">1</p>
                                <img class="flud_main_message_rating__image" src="../../static_dev/svg/triangledown.svg">
                            </div>
                            <p class="flud_main_message__name">nickname</p>
                            <p class="flud_main_message__text">text</p>
                            <p class="flud_main_message__time"> 20:00</p>
                        </div>
                        <img class="flud_main_message__tail" src="../../static_dev/svg/triangle.svg">
                    </div>
                    <div class="flud_main__message flex--column">
                        <div class="flud_main_message__body">
                            <div class="flud_main_message__rating flex--column">
                                <img class="flud_main_message_rating__image" src="../../static_dev/svg/triangleup.svg">
                                <p class="flud_main_message_rating__text text--default">1</p>
                                <img class="flud_main_message_rating__image" src="../../static_dev/svg/triangledown.svg">
                            </div>
                            <p class="flud_main_message__name">nickname</p>
                            <p class="flud_main_message__text">text</p>
                            <p class="flud_main_message__time"> 20:00</p>
                        </div>
                        <img class="flud_main_message__tail" src="../../static_dev/svg/triangle.svg">
                    </div>
                    <div class="flud_main__message flex--column">
                        <div class="flud_main_message__body">
                            <div class="flud_main_message__rating flex--column">
                                <img class="flud_main_message_rating__image" src="../../static_dev/svg/triangleup.svg">
                                <p class="flud_main_message_rating__text text--default">1</p>
                                <img class="flud_main_message_rating__image" src="../../static_dev/svg/triangledown.svg">
                            </div>
                            <p class="flud_main_message__name">nickname</p>
                            <p class="flud_main_message__text">text</p>
                            <p class="flud_main_message__time"> 20:00</p>
                        </div>
                        <img class="flud_main_message__tail" src="../../static_dev/svg/triangle.svg">
                    </div>
                    <div class="flud_main__message flex--column">
                        <div class="flud_main_message__body">
                            <div class="flud_main_message__rating flex--column">
                                <img class="flud_main_message_rating__image" src="../../static_dev/svg/triangleup.svg">
                                <p class="flud_main_message_rating__text text--default">1</p>
                                <img class="flud_main_message_rating__image" src="../../static_dev/svg/triangledown.svg">
                            </div>
                            <p class="flud_main_message__name">nickname</p>
                            <p class="flud_main_message__text">text</p>
                            <p class="flud_main_message__time"> 20:00</p>
                        </div>
                        <img class="flud_main_message__tail" src="../../static_dev/svg/triangle.svg">
                    </div>

                    <div class="flud_main__message flex--column">
                        <div class="flud_main_message__body forum_card--seller">
                            <div class="flud_main_message__rating flex--column">
                                <img class="flud_main_message_rating__image" src="../../static_dev/svg/triangleup.svg">
                                <p class="flud_main_message_rating__text text--default">1</p>
                                <img class="flud_main_message_rating__image" src="../../static_dev/svg/triangledown.svg">
                            </div>
                            <p class="flud_main_message__name">Продавец</p>
                            <p class="flud_main_message__text">text</p>
                            <p class="flud_main_message__time"> 20:00</p>
                        </div>
                        <img class="flud_main_message__tail" src="../../static_dev/svg/trianglegreen.svg">
                    </div>
                    <div class="flud_main__message flex--column">
                        <div class="flud_main_message__body">
                            <div class="flud_main_message__rating flex--column">
                                <img class="flud_main_message_rating__image" src="../../static_dev/svg/triangleup.svg">
                                <p class="flud_main_message_rating__text text--default">1</p>
                                <img class="flud_main_message_rating__image" src="../../static_dev/svg/triangledown.svg">
                            </div>
                            <p class="flud_main_message__name">nickname</p>
                            <p class="flud_main_message__text">text</p>
                            <p class="flud_main_message__time"> 20:00</p>
                        </div>
                        <img class="flud_main_message__tail" src="../../static_dev/svg/triangle.svg">
                    </div>
                    <div class="flud_main__message flex--column">
                        <div class="flud_main_message__body">
                            <div class="flud_main_message__rating flex--column">
                                <img class="flud_main_message_rating__image" src="../../static_dev/svg/triangleup.svg">
                                <p class="flud_main_message_rating__text text--default">1</p>
                                <img class="flud_main_message_rating__image" src="../../static_dev/svg/triangledown.svg">
                            </div>
                            <p class="flud_main_message__name">nickname</p>
                            <p class="flud_main_message__text">text</p>
                            <p class="flud_main_message__time"> 20:00</p>
                        </div>
                        <img class="flud_main_message__tail" src="../../static_dev/svg/triangle.svg">
                    </div>
                    
                    <div class="flud_main__bar flex--row">
                        <input class="flud_main_bar__input" type="text" placeholder="Введите сообщение">
                        <img class="flud_main_bar__image"  src="../../static_dev/svg/send.svg">
                    </div>
                    <div id="bottom"></div>
                </div>
            </div>
        </div>
    </div>
    <script type='text/javascript'>
        location.href = '#bottom';
       </script> 
</body>
</html> 