<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static_dev/css/style.css">
    <title>products list</title>
</head>
<body>
    <div class="prodlist">
        <div class="container">
            <div class="prodlist__content flex--column">
                <p class="prodlist__title">Список ваших товаров</p>
                <div class="prodlist__block flex--row">
                    
                    <div class="prodlist_block__card flex--row">
                        <img class="prodlist_block_card__image" src="../../static_dev/images/placeholderImage.png">
                        <div class="prodlist_block_card__info flex--column">
                            <p class="prodlist_block_card_info__name">Название товара</p>
                            <p class="prodlist_block_card_info__price">1703 &#8381;</p>
                            <p class="prodlist_block_card_info__amount text--default">Осталось 1234 шт.</p>
                            <div class="prodlist_block_card_info__buttons flex--row ">
                                <button class="prodlist_block_card_info_buttons__button button button--lgreen text--default">Удалить</button>
                                <button class="prodlist_block_card_info_buttons__button button button--lgreen text--default">Изменить</button>
                            </div>
                        </div>
                    </div>
                    <div class="prodlist_block__card flex--row">
                        <img class="prodlist_block_card__image" src="../../static_dev/images/placeholderImage.png">
                        <div class="prodlist_block_card__info flex--column">
                            <p class="prodlist_block_card_info__name">Название товара</p>
                            <p class="prodlist_block_card_info__price">1703 &#8381;</p>
                            <p class="prodlist_block_card_info__amount text--default">Осталось 1234 шт.</p>
                            <div class="prodlist_block_card_info__buttons flex--row ">
                                <button class="prodlist_block_card_info_buttons__button button button--lgreen text--default">Удалить</button>
                                <button class="prodlist_block_card_info_buttons__button button button--lgreen text--default">Изменить</button>
                            </div>
                        </div>
                    </div>
                    <div class="prodlist_block__card flex--row">
                        <img class="prodlist_block_card__image" src="../../static_dev/images/placeholderImage.png">
                        <div class="prodlist_block_card__info flex--column">
                            <p class="prodlist_block_card_info__name">Название товара</p>
                            <p class="prodlist_block_card_info__price">1703 &#8381;</p>
                            <p class="prodlist_block_card_info__amount text--default">Осталось 1234 шт.</p>
                            <div class="prodlist_block_card_info__buttons flex--row ">
                                <button class="prodlist_block_card_info_buttons__button button button--lgreen text--default">Удалить</button>
                                <button class="prodlist_block_card_info_buttons__button button button--lgreen text--default">Изменить</button>
                            </div>
                        </div>
                    </div>

                    <div class="prodlist_block__card flex--row">
                        <img class="prodlist_block_card__image" src="../../static_dev/images/placeholderImage.png">
                        <div class="prodlist_block_card__info flex--column">
                            <p class="prodlist_block_card_info__name">Название товара</p>
                            <p class="prodlist_block_card_info__price">1703 &#8381;</p>
                            <p class="prodlist_block_card_info__amount text--default">Осталось 1234 шт.</p>
                            <div class="prodlist_block_card_info__buttons flex--row ">
                                <button class="prodlist_block_card_info_buttons__button button button--lgreen text--default">Удалить</button>
                                <button class="prodlist_block_card_info_buttons__button button button--lgreen text--default">Изменить</button>
                            </div>
                        </div>
                    </div>
                    <div class="prodlist_block__card flex--row">
                        <img class="prodlist_block_card__image" src="../../static_dev/images/placeholderImage.png">
                        <div class="prodlist_block_card__info flex--column">
                            <p class="prodlist_block_card_info__name">Название товара</p>
                            <p class="prodlist_block_card_info__price">1703 &#8381;</p>
                            <p class="prodlist_block_card_info__amount text--default">Осталось 1234 шт.</p>
                            <div class="prodlist_block_card_info__buttons flex--row ">
                                <button class="prodlist_block_card_info_buttons__button button button--lgreen text--default">Удалить</button>
                                <button class="prodlist_block_card_info_buttons__button button button--lgreen text--default">Изменить</button>
                            </div>
                        </div>
                    </div>
                    <div class="prodlist_block__card flex--row">
                        <img class="prodlist_block_card__image" src="../../static_dev/images/placeholderImage.png">
                        <div class="prodlist_block_card__info flex--column">
                            <p class="prodlist_block_card_info__name">Название товара</p>
                            <p class="prodlist_block_card_info__price">1703 &#8381;</p>
                            <p class="prodlist_block_card_info__amount text--default">Осталось 1234 шт.</p>
                            <div class="prodlist_block_card_info__buttons flex--row ">
                                <button class="prodlist_block_card_info_buttons__button button button--lgreen text--default">Удалить</button>
                                <button class="prodlist_block_card_info_buttons__button button button--lgreen text--default">Изменить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>