<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static_dev/css/style.css">
    <title>universes</title>
</head>
<body>
    <div class="universes">
        <div class="container">
            <div class="universes__content flex--column">
                <p class="universes__title">Название вселенной</p>
                <div class="universes__main flex--row">
                    <div class="universes_main__card">
                        <p class="universes_main_card__text text--default">Вселенная Вселенная Вселенная</p>
                    </div>
                    <div class="universes_main__card">
                        <p class="universes_main_card__text text--default">Вселенная</p>
                    </div>
                    <div class="universes_main__card">
                        <p class="universes_main_card__text text--default">Вселенная Вселенная</p>
                    </div>
                    <div class="universes_main__card">
                        <p class="universes_main_card__text text--default">Вселенная</p>
                    </div>
                    <div class="universes_main__card">
                        <p class="universes_main_card__text text--default">Вселенная Вселенная Вселенная</p>
                    </div>
                    <div class="universes_main__card">
                        <p class="universes_main_card__text text--default">Вселеннаяrowgap:44px;</p>
                    </div>
                    <div class="universes_main__card">
                        <p class="universes_main_card__text text--default">Вселенная Вселенная</p>
                    </div>
                    <div class="universes_main__card">
                        <p class="universes_main_card__text text--default">Вселенная Вселенная Вселенная</p>
                    </div>
                    <div class="universes_main__card">
                        <p class="universes_main_card__text text--default">Вселенная</p>
                    </div>
                    <div class="universes_main__card">
                        <p class="universes_main_card__text text--default">Вселенная Вселенная</p>
                    </div>
                    <div class="universes_main__card">
                        <p class="universes_main_card__text text--default">Вселенная Вселенная Вселенная</p>
                    </div>
                    <div class="universes_main__card">
                        <p class="universes_main_card__text text--default">Вселенная</p>
                    </div>
                    <div class="universes_main__card">
                        <p class="universes_main_card__text text--default">Вселенная Вселенная</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>