{% load static %}
{% for product in products %}
    <div class="main_products__card">
        <img class="main_products_card__image image" src="{% if product.preview %}{{ product.preview.url }}{% else %}{% static 'images/placeholderImage.png' %}{% endif %}">
        <a class="main_products_card__name text--default" href="{% url 'catalog:product_detail' product.id %}">{{ product.name }}</a>
        <p class="main_products_card__price text--default">{{ product.price }} &#8381;</p>
        <form action="." method="POST" class="main_products_card__buttons flex--row">
            {% csrf_token %}
            <input hidden name="id" value="{{ product.id }}">
            <button class="main_products_card_buttons_button button button--dgreen text--default" type="button" 
            onclick="addCart(this)">
                В корзину
            </button>
            <button class="main_products_card_buttons_button button button--lgreen text--default" type="button"
            onclick="addCart(this); window.location.href = '{% url "users:cart" %}';">
                Купить
            </button>
        </form>
    </div>
{% endfor %}