<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static_dev/css/style.css">
    <title>singin</title>
</head>
<body>
    <div class="form__container container">
      <form class="singin__form">
            <div class="singin_form__content flex--column">
                <p class="singin_form__title">
                    Вход
                </p>
                <input class="singin_form__email" type="text" placeholder="Адрес эл. почты">
                <input class="singin_form__password" type="text" placeholder="Пароль">
                <a href="" class="singin_form__link text--default">Забыли пароль?</a>
                <button class="singin_form__button text--default button--dgreen">Войти</button>
            </div>
        </form>
    </div>
</body>
</html>