<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static_dev/css/style.css">
    <title>categories</title>
</head>
<body>
    <div class="categories">
        <div class="container">
            <div class="categories__content flex--column">
                <p class="categories__title">Форум</p>
                <div class="categories__main flex--row">
                    <div class="categories_main__card">
                        <p class="categories_main_card__text text--default">Категория</p>
                    </div>
                    <div class="categories_main__card">
                        <p class="categories_main_card__text text--default">Категория</p>
                    </div>
                    <div class="categories_main__card">
                        <p class="categories_main_card__text text--default">Категория</p>
                    </div>
                    <div class="categories_main__card">
                        <p class="categories_main_card__text text--default">Категория</p>
                    </div>
                    <div class="categories_main__card">
                        <p class="categories_main_card__text text--default">Категория</p>
                    </div>
                    <div class="categories_main__card">
                        <p class="categories_main_card__text text--default">Категория</p>
                    </div>
                    <div class="categories_main__card">
                        <p class="categories_main_card__text text--default">Категория</p>
                    </div>
                    <div class="categories_main__card">
                        <p class="categories_main_card__text text--default">Категория</p>
                    </div>
                    <div class="categories_main__card">
                        <p class="categories_main_card__text text--default">Категория</p>
                    </div>
                    <div class="categories_main__card">
                        <p class="categories_main_card__text text--default">Категория</p>
                    </div>
                    <div class="categories_main__card">
                        <p class="categories_main_card__text text--default">Категория</p>
                    </div>
                    <div class="categories_main__card">
                        <p class="categories_main_card__text text--default">Категория</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>