<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static_dev/css/style.css">
    <title>navbar</title>

</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="navbar__content flex--row">
                <ul class="navbar__list text--default flex--row">
                    <li class="navbar_list__item">
                        <a href="" class="navbar_list_item__link">
                            Г<span class="navbar_list_item_link__span">лавна</span>я
                        </a>
                    </li>
                    <li class="navbar_list__item">
                        <a href="" class="navbar_list_item__link">
                            Каталог
                        </a>
                    </li>
                    <li class="navbar_list__item">
                        <a href="" class="navbar_list_item__link">
                            О нас
                        </a>
                    </li>
                    <li class="navbar_list__item">
                        <a href="" class="navbar_list_item__link">
                            Профиль
                        </a>
                    </li>
                </ul>
                <div class="navbar__search">
                    <input class="navbar_search__string text--default" placeholder="Поиск" type="text">
                    <img class="navbar_search__pic" src="../../static_dev/svg/search.svg">
                </div>

                
                <div class="navbar__forum" >
                    <a href="" class="navbar_forum__link">
                        <button class="navbar_forum__button button button--dgreen text--default">
                            Форум
                        </button>
                    </a>
                </div>
                <div class="navbar__purchase flex--row">
                    <a href="" class="navbar_purchase_favorites__link" >
                        <div class="navbar_purchase__favorites">
                            <img class="navbar_purchase_favorites__svg" src="../../static_dev/svg/heart.svg">
                            <p class="navbar_purchase_favorites__text text--default">Избранное</p>
                        </div>
                    </a>
                    <a href="" class="navbar_purchase_basket__link" >
                        <div class="navbar_purchase__basket">
                            <img class="navbar_purchase_basket__svg" src="../../static_dev/svg/basket.svg">
                            <p class="navbar_purchase_basket__text text--default">Корзина</p>
                        </div>
                    </a>
                    <a href="" class="navbar_purchase_basket__link" >
                        <div class="navbar_purchase__basket">
                            <img class="navbar_purchase_logout__svg" src="../../static_dev/svg/logout.svg">
                            <p class="navbar_purchase_logout__text text--default">Выйти</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>