<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static_dev/css/style.css">
    <title>empty page</title>
</head>
<body>
    <div class="forumpage">
        <div class="container">
            <div class="forumpage__content flex--column">
                <p class="forumpage__title">Название вселенной</p>
                <div class="forum_page_block__flud flex--row block--flud">
                    <div class="forum_page_block_flud__text flex--column">
                        <p class="forum_page_block_flud_text__title">
                            Название чата
                        </p>
                        <p class="forum_page_block_flud_text__description">
                            smth
                        </p>
                    </div>
                    <div class="forum_page_block_flud__messages flex--row">
                        <img class="forum_page_block_flud_messages__pic" src="../../static_dev/svg/flud.svg">
                        <p class="forum_page_block_flud_messages__amount">1234</p>
                    </div>
                </div>
                <div class="forumpage__block flex--row">
                    <div class="forum_page_block__flud flex--row">
                        <div class="forum_page_block_flud__text flex--column">
                            <p class="forum_page_block_flud_text__title">
                                Название чата
                            </p>
                            <div class="forum_page_block_flud_text__info flex--row">
                                <img class="flud__image" src="../../static_dev/images/placeholderImage.png">
                                <div class="forum_page_block_flud_text_info__stats flex--column">
                                    <p class="forum_page_block_flud_text__description ">
                                    smth
                                    </p>
                                    <div class="flud__stars flex--row">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="forum_page_block_flud__messages flex--row">
                            <img class="forum_page_block_flud_messages__pic" src="../../static_dev/svg/flud.svg">
                            <p class="forum_page_block_flud_messages__amount">1234</p>
                        </div>
                    </div>
                    <div class="forum_page_block__flud flex--row">
                        <div class="forum_page_block_flud__text flex--column">
                            <p class="forum_page_block_flud_text__title">
                                Название чата
                            </p>
                            <div class="forum_page_block_flud_text__info flex--row">
                                <img class="flud__image" src="../../static_dev/images/placeholderImage.png">
                                <div class="forum_page_block_flud_text_info__stats flex--column">
                                    <p class="forum_page_block_flud_text__description ">
                                    smth
                                    </p>
                                    <div class="flud__stars flex--row">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="forum_page_block_flud__messages flex--row">
                            <img class="forum_page_block_flud_messages__pic" src="../../static_dev/svg/flud.svg">
                            <p class="forum_page_block_flud_messages__amount">1234</p>
                        </div>
                    </div>
                    <div class="forum_page_block__flud flex--row">
                        <div class="forum_page_block_flud__text flex--column">
                            <p class="forum_page_block_flud_text__title">
                                Название чата
                            </p>
                            <div class="forum_page_block_flud_text__info flex--row">
                                <img class="flud__image" src="../../static_dev/images/placeholderImage.png">
                                <div class="forum_page_block_flud_text_info__stats flex--column">
                                    <p class="forum_page_block_flud_text__description ">
                                    smth
                                    </p>
                                    <div class="flud__stars flex--row">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="forum_page_block_flud__messages flex--row">
                            <img class="forum_page_block_flud_messages__pic" src="../../static_dev/svg/flud.svg">
                            <p class="forum_page_block_flud_messages__amount">1234</p>
                        </div>
                    </div>
                    <div class="forum_page_block__flud flex--row">
                        <div class="forum_page_block_flud__text flex--column">
                            <p class="forum_page_block_flud_text__title">
                                Название чата
                            </p>
                            <div class="forum_page_block_flud_text__info flex--row">
                                <img class="flud__image" src="../../static_dev/images/placeholderImage.png">
                                <div class="forum_page_block_flud_text_info__stats flex--column">
                                    <p class="forum_page_block_flud_text__description ">
                                    smth
                                    </p>
                                    <div class="flud__stars flex--row">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="forum_page_block_flud__messages flex--row">
                            <img class="forum_page_block_flud_messages__pic" src="../../static_dev/svg/flud.svg">
                            <p class="forum_page_block_flud_messages__amount">1234</p>
                        </div>
                    </div>
                    <div class="forum_page_block__flud flex--row">
                        <div class="forum_page_block_flud__text flex--column">
                            <p class="forum_page_block_flud_text__title">
                                Название чата
                            </p>
                            <div class="forum_page_block_flud_text__info flex--row">
                                <img class="flud__image" src="../../static_dev/images/placeholderImage.png">
                                <div class="forum_page_block_flud_text_info__stats flex--column">
                                    <p class="forum_page_block_flud_text__description ">
                                    smth
                                    </p>
                                    <div class="flud__stars flex--row">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="forum_page_block_flud__messages flex--row">
                            <img class="forum_page_block_flud_messages__pic" src="../../static_dev/svg/flud.svg">
                            <p class="forum_page_block_flud_messages__amount">1234</p>
                        </div>
                    </div>
                    <div class="forum_page_block__flud flex--row">
                        <div class="forum_page_block_flud__text flex--column">
                            <p class="forum_page_block_flud_text__title">
                                Название чата
                            </p>
                            <div class="forum_page_block_flud_text__info flex--row">
                                <img class="flud__image" src="../../static_dev/images/placeholderImage.png">
                                <div class="forum_page_block_flud_text_info__stats flex--column">
                                    <p class="forum_page_block_flud_text__description ">
                                    smth
                                    </p>
                                    <div class="flud__stars flex--row">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="forum_page_block_flud__messages flex--row">
                            <img class="forum_page_block_flud_messages__pic" src="../../static_dev/svg/flud.svg">
                            <p class="forum_page_block_flud_messages__amount">1234</p>
                        </div>
                    </div>
                    <div class="forum_page_block__flud flex--row">
                        <div class="forum_page_block_flud__text flex--column">
                            <p class="forum_page_block_flud_text__title">
                                Название чата
                            </p>
                            <div class="forum_page_block_flud_text__info flex--row">
                                <img class="flud__image" src="../../static_dev/images/placeholderImage.png">
                                <div class="forum_page_block_flud_text_info__stats flex--column">
                                    <p class="forum_page_block_flud_text__description ">
                                    smth
                                    </p>
                                    <div class="flud__stars flex--row">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="forum_page_block_flud__messages flex--row">
                            <img class="forum_page_block_flud_messages__pic" src="../../static_dev/svg/flud.svg">
                            <p class="forum_page_block_flud_messages__amount">1234</p>
                        </div>
                    </div>
                    <div class="forum_page_block__flud flex--row">
                        <div class="forum_page_block_flud__text flex--column">
                            <p class="forum_page_block_flud_text__title">
                                Название чата
                            </p>
                            <div class="forum_page_block_flud_text__info flex--row">
                                <img class="flud__image" src="../../static_dev/images/placeholderImage.png">
                                <div class="forum_page_block_flud_text_info__stats flex--column">
                                    <p class="forum_page_block_flud_text__description ">
                                    smth
                                    </p>
                                    <div class="flud__stars flex--row">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                        <img class="flud_stars__star" src="../../static_dev/svg/ministar.svg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="forum_page_block_flud__messages flex--row">
                            <img class="forum_page_block_flud_messages__pic" src="../../static_dev/svg/flud.svg">
                            <p class="forum_page_block_flud_messages__amount">1234</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>