<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static_dev/css/style.css">
    <title>footerf</title>
</head>
<body>
    <footer class="footer">
        <div class="container">
            <div class="footer__content flex--row">
                <div class="footer__contacts flex--row">
                    <div class="footer_contacts__socials flex--column text--default">
                        <h class="footer_text__title">Наш соцсети</h>
                        <p class="footer_text__string">
                            shmth
                        </p>
                        <p class="footer_text__string">
                            svv
                        </p>
                        <p class="footer_text__string">
                            lckhv
                        </p>
                        <p class="footer_text__string">
                            fnsv
                        </p>
                        <p class="footer_text__string">
                            hrmch
                        </p>
                        <p class="footer_text__string">
                            bsmkn
                        </p>
                    </div>
                    <div class="footer_contacts__socials flex--column text--default">
                        <h class="footer_text__title"> Партнерам</h>
                        <p class="footer_text__string">

                        </p>
                        <p class="footer_text__string">
                            
                        </p>
                        <p class="footer_text__string">
                            
                        </p>
                        <p class="footer_text__string">
                            
                        </p>
                        <p class="footer_text__string">
                            
                        </p>
                        <p class="footer_text__string">
                            
                        </p>
                    </div>
                    <div class="footer_contacts__socials flex--column text--default">
                        <h class="footer_text__title">Покупателям</h>
                        <p class="footer_text__string">

                        </p>
                        <p class="footer_text__string">
                            
                        </p>
                        <p class="footer_text__string">
                            
                        </p>
                        <p class="footer_text__string">
                            
                        </p>
                        <p class="footer_text__string">
                            
                        </p>
                        <p class="footer_text__string">
                            
                        </p>
                    </div>
                    <div class="footer_contacts__socials flex--column text--default">
                        <h class="footer_text__title">Компания</h>
                        <p class="footer_text__string">

                        </p>
                        <p class="footer_text__string">
                            
                        </p>
                        <p class="footer_text__string">
                            
                        </p>
                        <p class="footer_text__string">
                            
                        </p>
                        <p class="footer_text__string">
                            
                        </p>
                        <p class="footer_text__string">
                            
                        </p>
                    </div>
                    <div class="footer_contacts__socials flex--column text--default">
                        <h class="footer_text__title">Поддержка</h>
                        <p class="footer_text__string">

                        </p>
                        <p class="footer_text__string">
                            
                        </p>
                        <p class="footer_text__string">
                            
                        </p>
                        <p class="footer_text__string">
                             
                        </p>
                        <p class="footer_text__string">
                             
                        </p>
                        <p class="footer_text__string">
                             
                        </p>
                    </div>
                </div>
                <div class="footer__checker">
                    <img class="footer_checker__image" src="../../static_dev/images/placeholderImage.png">
                </div>
            </div>
        </div>
    </footer>
</body>
</html>