<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static_dev/css/style.css">
    <title>produrt page</title>
</head>
<body>
    <div class="product__page">
        <div class="container">
            <div class="product_page__content flex--row">
                <div class="product_page__images flex--column">
                    <img class="product_page_images__bigimg" src="../..//static_dev/images/gutsTest.jpg">
                    <div class="product_page_images__block flex--row">
                        <img class="product_page_images_block__image" src="../../static_dev/images/gutsTest.jpg">
                        <img class="product_page_images_block__image" src="../../static_dev/images/gutsTest.jpg">
                        <img class="product_page_images_block__image" src="../../static_dev/images/gutsTest.jpg">
                        <img class="product_page_images_block__image" src="../../static_dev/images/gutsTest.jpg">
                        <img class="product_page_images_block__image" src="../../static_dev/images/gutsTest.jpg">
                        <img class="product_page_images_block__image" src="../../static_dev/images/gutsTest.jpg">
                    </div>
                </div>
                <div class="product_page__info flex--column">
                    <p class="product_page_info__seller text--default">Продавец</p>
                    <p class="product_page_info__title">Название товара</p>
                    <div class="product_page_info__main flex--column">
                        <div class="product_page_info_main__rating flex--row">
                            <p class="product_page_info_main_rating__mark">3.2</p>
                            <img class="product_page_info_main_rating__pic" src="../../static_dev/svg/star.svg">
                            <p class="product_page_info_main_rating__count">
                                <a href class="product_page_info_main_rating_count__link">12345 оценок</a>
                            </p>
                        </div>
                        <div class="product_page__info_main__images flex--row">
                            <img class="product_page_images_block__image" src="../../static_dev/images/gutsTest.jpg">
                            <img class="product_page_images_block__image" src="../../static_dev/images/gutsTest.jpg">
                            <img class="product_page_images_block__image" src="../../static_dev/images/gutsTest.jpg">
                        </div>
                        <div class="product_page_main_info__stats flex--column">
                            <p class="product_page_main_info_stats__title text--default">Характеристики</p>
                            <p class="product_page_main_info_stats__text text text--default">smth</p>
                            <p class="product_page_main_info_stats__title text--default">Описание</p>
                            <p class="product_page_main_info_stats__text text text--default">smth</p>
                        </div>
                    </div>
                </div>
                <div class="product_page__buying flex--column">
                    <p class="product_page_buying__price text--default">1703 &#8381;</p>
                    <button class="product_page_button button button--lgreen text--default">В корзину</button>
                    <button class="product_page_button button button--lgreen text--default">Купить сейчас</button>
                    <button class="product_page_button button button--lgreen text--default">Форум</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>