{% extends "base.html" %}
{% block title %}
    История пополнений
{% endblock %}
{% block content %}
    <div class="deposits">
        <div class="container">
            <div class="deposits__content flex--column">
                {% include "includes/profile_return.html" %}
                <p class="deposits__title">Ваша история операций</p>
                <div class="deposits__main flex--row">
                    <div class="deposits_main__operations flex--column">
                        {% for history in histories %}
                        <div class="deposits_main_operations__card flex--row">
                            <p class="deposits_main_operations_card__sum text--default">+{{ history.amount }}&#8381;</p>
                            <p class="deposits_main_operations_card__bank text--default">GeekBank</p>
                            <p class="deposits_main_operations_card__date text--default">{{ history.date }}</p>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="deposits_main__balance flex--row">
                        <div class="deposits_main_balance__info flex--column">
                            <p class="deposits_main_balance_info__title">Баланс</p>
                            <p class="deposits_main_balance_info__sum">{{ customer_data.balance }}&#8381;</p>
                        </div>
                        <a href="{% url 'users:balance_add' %}" class="deposits_main_balance__button button button--lgreen text--default">
                            Пополнить
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}