{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Дефолтный заголовок {% endblock %}</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
    {% include "includes/header.html" %}
    {% block content %} Иди своей дорогой, Сталкер {% endblock %}
    {% include "includes/footer.html" %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/function.js' %}"></script>
</body>
</html>