<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static_dev/css/style.css">
    <title>history</title>
</head>
<body>
    <div class="history">
        <div class="container">
            <div class="history__content flex--column">
                <p class="history__title">Ваша покупки</p>
                <div class="history__main flex--row">
                    <div class="history_main__card flex--row">
                        <img class="history_main_card__image" src="../../static_dev/images/placeholderImage.png">
                        <div class="history_main_card__info flex--column">
                            <p class="history_main_card_info_title__name">Название товара</p>
                            <p class="history_main_card_description text--default"> smth</p>
                            <div class="history_main_card_info__stats flex--row">
                                <p class="history_main_card_info_stats__price text--default">1703 &#8381;</p>
                                <div class="history_main_card_info_stats__rating flex--row">
                                    <img class="history_main_card_info_stats_rating__star" src="../../static_dev/svg/ministar.svg">
                                    <img class="history_main_card_info_stats_rating__star" src="../../static_dev/svg/ministar.svg">
                                    <img class="history_main_card_info_stats_rating__star" src="../../static_dev/svg/ministar.svg">
                                    <img class="history_main_card_info_stats_rating__star" src="../../static_dev/svg/ministar.svg">
                                    <img class="history_main_card_info_stats_rating__star" src="../../static_dev/svg/ministar.svg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="history_main__card flex--row">
                        <img class="history_main_card__image" src="../../static_dev/images/placeholderImage.png">
                        <div class="history_main_card__info flex--column">
                            <p class="history_main_card_info_title__name">Название товара</p>
                            <p class="history_main_card_description text--default"> smth</p>
                            <div class="history_main_card_info__stats flex--row">
                                <p class="history_main_card_info_stats__price text--default">1703 &#8381;</p>
                                <div class="history_main_card_info_stats__rating flex--row">
                                    <img class="history_main_card_info_stats_rating__star" src="../../static_dev/svg/ministar.svg">
                                    <img class="history_main_card_info_stats_rating__star" src="../../static_dev/svg/ministar.svg">
                                    <img class="history_main_card_info_stats_rating__star" src="../../static_dev/svg/ministar.svg">
                                    <img class="history_main_card_info_stats_rating__star" src="../../static_dev/svg/ministar.svg">
                                    <img class="history_main_card_info_stats_rating__star" src="../../static_dev/svg/ministar.svg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="history_main__card flex--row">
                        <img class="history_main_card__image" src="../../static_dev/images/placeholderImage.png">
                        <div class="history_main_card__info flex--column">
                            <p class="history_main_card_info_title__name">Название товара</p>
                            <p class="history_main_card_description text--default"> smth</p>
                            <div class="history_main_card_info__stats flex--row">
                                <p class="history_main_card_info_stats__price text--default">1703 &#8381;</p>
                                <div class="history_main_card_info_stats__rating flex--row">
                                    <img class="history_main_card_info_stats_rating__star" src="../../static_dev/svg/ministar.svg">
                                    <img class="history_main_card_info_stats_rating__star" src="../../static_dev/svg/ministar.svg">
                                    <img class="history_main_card_info_stats_rating__star" src="../../static_dev/svg/ministar.svg">
                                    <img class="history_main_card_info_stats_rating__star" src="../../static_dev/svg/ministar.svg">
                                    <img class="history_main_card_info_stats_rating__star" src="../../static_dev/svg/ministar.svg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="history_main__card flex--row">
                        <img class="history_main_card__image" src="../../static_dev/images/placeholderImage.png">
                        <div class="history_main_card__info flex--column">
                            <p class="history_main_card_info_title__name">Название товара</p>
                            <p class="history_main_card_description text--default"> smth</p>
                            <div class="history_main_card_info__stats flex--row">
                                <p class="history_main_card_info_stats__price text--default">1703 &#8381;</p>
                                <div class="history_main_card_info_stats__rating flex--row">
                                    <img class="history_main_card_info_stats_rating__star" src="../../static_dev/svg/ministar.svg">
                                    <img class="history_main_card_info_stats_rating__star" src="../../static_dev/svg/ministar.svg">
                                    <img class="history_main_card_info_stats_rating__star" src="../../static_dev/svg/ministar.svg">
                                    <img class="history_main_card_info_stats_rating__star" src="../../static_dev/svg/ministar.svg">
                                    <img class="history_main_card_info_stats_rating__star" src="../../static_dev/svg/ministar.svg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="history_main__card flex--row">
                        <img class="history_main_card__image" src="../../static_dev/images/placeholderImage.png">
                        <div class="history_main_card__info flex--column">
                            <p class="history_main_card_info_title__name">Название товара</p>
                            <p class="history_main_card_description text--default"> smth</p>
                            <div class="history_main_card_info__stats flex--row">
                                <p class="history_main_card_info_stats__price text--default">1703 &#8381;</p>
                                <div class="history_main_card_info_stats__rating flex--row">
                                    <img class="history_main_card_info_stats_rating__star" src="../../static_dev/svg/ministar.svg">
                                    <img class="history_main_card_info_stats_rating__star" src="../../static_dev/svg/ministar.svg">
                                    <img class="history_main_card_info_stats_rating__star" src="../../static_dev/svg/ministar.svg">
                                    <img class="history_main_card_info_stats_rating__star" src="../../static_dev/svg/ministar.svg">
                                    <img class="history_main_card_info_stats_rating__star" src="../../static_dev/svg/ministar.svg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="history_main__card flex--row">
                        <img class="history_main_card__image" src="../../static_dev/images/placeholderImage.png">
                        <div class="history_main_card__info flex--column">
                            <p class="history_main_card_info_title__name">Название товара</p>
                            <p class="history_main_card_description text--default"> smth</p>
                            <div class="history_main_card_info__stats flex--row">
                                <p class="history_main_card_info_stats__price text--default">1703 &#8381;</p>
                                <div class="history_main_card_info_stats__rating flex--row">
                                    <img class="history_main_card_info_stats_rating__star" src="../../static_dev/svg/ministar.svg">
                                    <img class="history_main_card_info_stats_rating__star" src="../../static_dev/svg/ministar.svg">
                                    <img class="history_main_card_info_stats_rating__star" src="../../static_dev/svg/ministar.svg">
                                    <img class="history_main_card_info_stats_rating__star" src="../../static_dev/svg/ministar.svg">
                                    <img class="history_main_card_info_stats_rating__star" src="../../static_dev/svg/ministar.svg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>