<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static_dev/css/style.css">
    <title>business profile</title>
</head>
<body>
    <div class="profile">
        <div class="container">
            <div class="profile__content flex--column">
                <div class="profile_business__card">
                    <div class="profile_card__user card--profile flex--row">
                        <div class="profile_card_user__image ">
                            <img class="profile_card_user_image__pic" src="../../static_dev/images/placeholderImage.png">
                        </div>
                        <div class="profile_card_user__info flex--column">
                            <p class="profile_card_user_info__name">Username</p>
                            <p class="profile_card_user_info__e-mail">smth@gmail.com</p>
                            <p class="profile_card_user_info__number">+7-900-900-90-90</p>
                            <div class="profile_card_user_info__buttons flex--row">
                                <button class="profile_card_user_info_buttons__button button button--lgreen">
                                    Сменить пароль
                                </button>
                                <button class="profile_card_user_info_buttons__button button button--lgreen">
                                    Выйти
                                </button>
                            </div>
                        </div>
                    </div>                   
                    
                    <div class="profile_card__products profile_click__card card--profile">
                        <a href="" class="card_profile__link"></a>
                            <div class="profile_card__clickable flex--column">
                                <div class="profile_card_clickable__title flex--row">
                                    <img class="profile_card_clickable_title__image" src="../../static_dev/svg/products.svg">
                                    <p class="profile_card_clickable_title__text">
                                        Мои товары
                                    </p>
                                </div>
                                <div class="profile_card_clickable__description flex--column">
                                    <p class="profile_card_clickable_description__text">
                                        first string
                                    </p>
                                    <p class="profile_card_clickable_description__text">
                                        seccond string
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <a href="" class="profile__banner">
                    <img class="profile_banner__image" src="../../static_dev/images/placeholderImage.png">
                </a>
            </div>
        </div>
    </div>
</body>
</html>