<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static_dev/css/style.css">
    <title>basket</title>
</head>
<body>
    <div class="basket">
        <div class="container">
            <div class="basket__content flex--column">
                <p class="basket__title">Ваша корзина</p>
                <div class="basket__main flex--row">
                    <div class="basket_main__product flex--column"> 
                        <div class="basket_main_product__card flex--row">
                            <div class="basket_main_product_card__info flex--row">
                                <img class="basket_main_product_card_info_image" src="../../static_dev/images/placeholderImage.png">
                                <div class="basket_main_product_card_info__functions flex--column">
                                    <div class="basket_main_product_card_info_functions__title flex--row">
                                        <p class="basket_main_product_card_info_functions_title__name">
                                            Название товара
                                        </p>
                                        <div class="basket_main_product_card_info_functions_title__image minus">
                                            <img class="basket_main_product_card_info_functions_title_image__pic " src="../../static_dev/svg/minus.svg">
                                        </div>
                                        <p class="basket_main_product_card_info_functions_title__amount text--default">1</p>
                                        <div class="basket_main_product_card_info_functions_title__image">
                                            <img class="basket_main_product_card_info_functions_title_image__pic" src="../../static_dev/svg/minplus.svg">
                                        </div>
                                        <img class="basket_main_product_card_info_functions_title__favorite" src="../../static_dev/svg/liltheart.svg">
                                    </div>
                                    <p class="basket_main_product_card_info_functions__description">smth</p>
                                    <button class="basket_main_product_card_info_functions__button button button--lgreen text--default">
                                        Удалить
                                    </button>
                                </div>
                            </div>
                            <p class="basket_main_product_card__price">1703 &#8381;</p>
                        </div>
                        <div class="basket_main_product__card flex--row">
                            <div class="basket_main_product_card__info flex--row">
                                <img class="basket_main_product_card_info_image" src="../../static_dev/images/placeholderImage.png">
                                <div class="basket_main_product_card_info__functions flex--column">
                                    <div class="basket_main_product_card_info_functions__title flex--row">
                                        <p class="basket_main_product_card_info_functions_title__name">
                                            Название товара
                                        </p>
                                        <div class="basket_main_product_card_info_functions_title__image minus">
                                            <img class="basket_main_product_card_info_functions_title_image__pic " src="../../static_dev/svg/minus.svg">
                                        </div>
                                        <p class="basket_main_product_card_info_functions_title__amount text--default">1</p>
                                        <div class="basket_main_product_card_info_functions_title__image">
                                            <img class="basket_main_product_card_info_functions_title_image__pic" src="../../static_dev/svg/minplus.svg">
                                        </div>
                                        <img class="basket_main_product_card_info_functions_title__favorite" src="../../static_dev/svg/liltheart.svg">
                                    </div>
                                    <p class="basket_main_product_card_info_functions__description">smth</p>
                                    <button class="basket_main_product_card_info_functions__button button button--lgreen text--default">
                                        Удалить
                                    </button>
                                </div>
                            </div>
                            <p class="basket_main_product_card__price">1703 &#8381;</p>
                        </div>
                    </div>
                    <div class="basket_main__sum flex--row">
                        <div class="basket_main_balance__info flex--column">
                            <p class="basket_main_sum_info__title">Итого</p>
                            <p class="basket_main_sum_info__count">1703*2 &#8381;</p>
                            <p class="basket_main_sum_info__amount">2 товара</p>
                            <p class="basket_main_sum_info__date">29 июня</p>
                            <button class="basket_main_sum__button button button--dgreen text--default">
                                Заказать
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>