<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static_dev/css/style.css">
    <title>favorites</title>
</head>
<body>
    <div class="favorites">
        <div class="container">
            <div class="favorites__content flex--column">
                <p class="favorites__title">Ваши избранные товары</p>
                <div class="favorites__main flex--row">
                    <div class="favorites_main__card flex--row">
                        <img class="favorites_main_card__image" src="../../static_dev/images/placeholderImage.png">
                        <div class="favorites_main_card__info flex--column">
                            <div class="favorites_main_card_info__title flex--row">
                                <p class="favorites_main_card_info_title__name">Название товара</p>
                                <img class="favorites_main_card_info_title__image" src="../../static_dev/svg/trash.svg">
                            </div>
                            <p class="favorites_main_card_description text--default"> smth</p>
                            <p class="favorites_main_card_info__price text--default">1703 &#8381;</p>
                        </div>
                        <div class="favorites_main_card__buttons flex--column">
                            <button class="favorites_main_card_buttons__button button button--lgreen text--default">
                                В корзину
                            </button>
                            <button class="favorites_main_card_buttons__button button button--dgreen text--default">
                                Купить
                            </button>
                        </div>
                    </div>
                    <div class="favorites_main__card flex--row">
                        <img class="favorites_main_card__image" src="../../static_dev/images/placeholderImage.png">
                        <div class="favorites_main_card__info flex--column">
                            <div class="favorites_main_card_info__title flex--row">
                                <p class="favorites_main_card_info_title__name">Название товара</p>
                                <img class="favorites_main_card_info_title__image" src="../../static_dev/svg/trash.svg">
                            </div>
                            <p class="favorites_main_card_description text--default"> smth</p>
                            <p class="favorites_main_card_info__price text--default">1703 &#8381;</p>
                        </div>
                        <div class="favorites_main_card__buttons flex--column">
                            <button class="favorites_main_card_buttons__button button button--lgreen text--default">
                                В корзину
                            </button>
                            <button class="favorites_main_card_buttons__button button button--dgreen text--default">
                                Купить
                            </button>
                        </div>
                    </div>
                    <div class="favorites_main__card flex--row">
                        <img class="favorites_main_card__image" src="../../static_dev/images/placeholderImage.png">
                        <div class="favorites_main_card__info flex--column">
                            <div class="favorites_main_card_info__title flex--row">
                                <p class="favorites_main_card_info_title__name">Название товара</p>
                                <img class="favorites_main_card_info_title__image" src="../../static_dev/svg/trash.svg">
                            </div>
                            <p class="favorites_main_card_description text--default"> smth</p>
                            <p class="favorites_main_card_info__price text--default">1703 &#8381;</p>
                        </div>
                        <div class="favorites_main_card__buttons flex--column">
                            <button class="favorites_main_card_buttons__button button button--lgreen text--default">
                                В корзину
                            </button>
                            <button class="favorites_main_card_buttons__button button button--dgreen text--default">
                                Купить
                            </button>
                        </div>
                    </div>
                    <div class="favorites_main__card flex--row">
                        <img class="favorites_main_card__image" src="../../static_dev/images/placeholderImage.png">
                        <div class="favorites_main_card__info flex--column">
                            <div class="favorites_main_card_info__title flex--row">
                                <p class="favorites_main_card_info_title__name">Название товара</p>
                                <img class="favorites_main_card_info_title__image" src="../../static_dev/svg/trash.svg">
                            </div>
                            <p class="favorites_main_card_description text--default"> smth</p>
                            <p class="favorites_main_card_info__price text--default">1703 &#8381;</p>
                        </div>
                        <div class="favorites_main_card__buttons flex--column">
                            <button class="favorites_main_card_buttons__button button button--lgreen text--default">
                                В корзину
                            </button>
                            <button class="favorites_main_card_buttons__button button button--dgreen text--default">
                                Купить
                            </button>
                        </div>
                    </div>
                    <div class="favorites_main__card flex--row">
                        <img class="favorites_main_card__image" src="../../static_dev/images/placeholderImage.png">
                        <div class="favorites_main_card__info flex--column">
                            <div class="favorites_main_card_info__title flex--row">
                                <p class="favorites_main_card_info_title__name">Название товара</p>
                                <img class="favorites_main_card_info_title__image" src="../../static_dev/svg/trash.svg">
                            </div>
                            <p class="favorites_main_card_description text--default"> smth</p>
                            <p class="favorites_main_card_info__price text--default">1703 &#8381;</p>
                        </div>
                        <div class="favorites_main_card__buttons flex--column">
                            <button class="favorites_main_card_buttons__button button button--lgreen text--default">
                                В корзину
                            </button>
                            <button class="favorites_main_card_buttons__button button button--dgreen text--default">
                                Купить
                            </button>
                        </div>
                    </div>
                    <div class="favorites_main__card flex--row">
                        <img class="favorites_main_card__image" src="../../static_dev/images/placeholderImage.png">
                        <div class="favorites_main_card__info flex--column">
                            <div class="favorites_main_card_info__title flex--row">
                                <p class="favorites_main_card_info_title__name">Название товара</p>
                                <img class="favorites_main_card_info_title__image" src="../../static_dev/svg/trash.svg">
                            </div>
                            <p class="favorites_main_card_description text--default"> smth</p>
                            <p class="favorites_main_card_info__price text--default">1703 &#8381;</p>
                        </div>
                        <div class="favorites_main_card__buttons flex--column">
                            <button class="favorites_main_card_buttons__button button button--lgreen text--default">
                                В корзину
                            </button>
                            <button class="favorites_main_card_buttons__button button button--dgreen text--default">
                                Купить
                            </button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>