{% extends "base.html" %}
{% block title %}
    История покупок
{% endblock %}
{% block content %}
    <h1>История покупок</h1>
    {% for date, products in buy_histories.items %}
        <div style="margin-bottom: 60px">
            {{ date }}
            {% for cart_product in products %}
                <form action="." method="POST" style="margin-bottom: 20px">
                    {% csrf_token %}
                    {% if cart_product.product.preview %}
                        <img width="100" height="100" src="{{ cart_product.product.preview.url }}">
                    {% else %}
                        Нет картинки
                    {% endif %}
                    {{ cart_product.product.name }} - {{ cart_product.count }}
                    {% if cart_product.product_rating != 0 %}
                        <input disabled type="number" value="{{ cart_product.product_rating }}" style="width: 40px" />
                    {% else %}
                        <input name="mark" type="number" value="1" min="1" max="5" style="width: 40px" />
                        <input hidden name="product" value="{{ cart_product.product.id }}" />
                        <button name="subButton" type="button" onclick="rateProduct(this)">Оценить</button>
                    {% endif %}
                </form>
            {% endfor %}
        </div>
    {% endfor %}
    <script>
        function rateProduct(clickedElement){
            var frm = $(clickedElement).parent();
            $.ajax({
                type: 'POST',
                data: $(frm).serialize(),
                url: '{% url 'users:cart_history' %}',
                success:  function (data) {
                    $('input[name="product"]').each(function() {
                        if ($(this).attr('value') == data.product) {
                            var history = $(this).parent();
                            history.find('input[name="mark"]').prop('disabled', true);
                            history.find('input[name="mark"]').attr('value', data.mark);
                            history.find('button[name="subButton"]').remove()
                        }
                    });
                },
                error: function () {
                    console.log('I want to die');
                }
            });
            return false;
    }
    </script>
{% endblock %}