{% extends "base.html" %}
{% block title %}
    Корзина
{% endblock %}
{% block content %}
    <h1>Корзина</h1>
    {% if cart_products %}
        <form action="." method="POST" style="margin-bottom: 50px;">
            {% csrf_token %}
            <p>Стоимость всего: <span id="sum_price">{{ sum_price }}</span></p>
            <p>Ваш баланс: {{ balance }}</p>
            <button id="buy_button" {% if balance < sum_price %} disabled {% endif %}>Купить</button>
        </form>
        {% for cart_product in cart_products %}
            <form action="." method="POST" style="margin-bottom: 20px;">
                {% csrf_token %}
                <input hidden name="id" value="{{ cart_product.id }}">

                {% if cart_product.product.preview %}
                    <img width="100" height="100" src="{{ cart_product.product.preview.url }}">
                {% else %}
                    Нет картинки
                {% endif %}
                {{ cart_product.product.name }}
                <button id="sub_button" type="button" name="action" {% if cart_product.count == 1 %} disabled {% endif %} onclick="changeCart(this)" value="subtract">-</button>
                <span id="product_count">{{ cart_product.count }}</span>
                <button type="button" name="action" onclick="changeCart(this)" value="add">+</button>
                {{ cart_product.product.price }}
                <button type="button" name="action" onclick="changeCart(this)" value="favorite">Избранное</button>
                <button type="button" name="action" onclick="changeCart(this)" value="delete">Удалить</button>
            </form>
        {% endfor %}
    {% else %}
        Тут пусто!
    {% endif %}
    <script>
        function changeCart(clickedElement){
            var frm = $(clickedElement).parent();
            var button = $(clickedElement);
            var data = $(frm).serialize() + '&' + encodeURI(button.attr('name')) + '=' + encodeURI(button.attr('value'));
            $.ajax({
                type: 'POST',
                data: data,
                url: '{% url "users:cart" %}',
                success:  function (data) {
                    var actionType = button.attr('value');
                    if (actionType == 'add' || actionType == 'subtract') {
                        frm.find('#product_count').text(data.new_count);
                        frm.find('#sub_button').prop('disabled', data.new_count == 1);
                        $('#buy_button').prop('disabled', data.new_sum_price > "{{ balance }}");
                        $('#sum_price').text(data.new_sum_price);
                    } else if (actionType == 'delete') {
                        $('#buy_button').prop('disabled', data.new_sum_price > "{{ balance }}");
                        $('#sum_price').text(data.new_sum_price);
                        frm.remove();
                    }
                },
                error: function () {
                    console.log('I want to die');
                }
            });
            return false;
        }
    </script>
{% endblock %}