{% extends "base.html" %}
{% block title %}
    Восстановить пароль
{% endblock %}
{% block content %}
    <div class="form__container container">
        <form class="singup__form" method="post" action=".">
            <div class="singup_form__content create_form flex--column">
                <p class="singin_form__title">Новый пароль</p>
                {% include "includes/form_create.html" %}
                {% include "includes/form_errors.html" %}
                <button class="singup_form__button text--default button--dgreen">Установить</button>
            </div>
        </form>
    </div>
{% endblock %}