{% extends "base.html" %}
{% block title %}
    Восстановить пароль
{% endblock %}
{% block content %}
    {% load static %}
    <div class="form__container container">
        <form class="singup__form" method="post" action=".">
            <div class="singup_form__content create_form flex--column">
                <a href="{% url 'users:login' %}" class="back">
                    <img src="{% static 'svg/back.svg' %}">
                    <p class="text--default">Назад</p>
                </a>
                <p class="singin_form__title">Восстановить пароль</p>
                {% include "includes/form_create.html" %}
                {% include "includes/form_errors.html" %}
                <button class="singup_form__button text--default button button--dgreen">Восстановить</button>
            </div>
        </form>
    </div>
{% endblock %}