{% extends "base.html" %}
{% block title %}
    Форумы
{% endblock %}
{% block content %}
    <div class="categories">
        <div class="container">
            <div class="categories__content flex--column">
                <p class="categories__title">Форум</p>
                <div class="categories__main flex--row">
                    {% for category in object_list %}
                        <a href="{% url 'forum:sub_forums' category.id %}" class="categories_main__card">
                            <p class="categories_main_card__text text--default">{{ category.name }}</p>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}