{% extends "base.html" %}
{% load static %}
{% block title %} Товары {% endblock %}
{% block content %}
    <div class="catalog">
        <div class="container">
            <div class="catalog__content flex--column">
                <div class="main__categories flex--row">
                    <button class="main_categories__button button--dgreen button text--default">
                        Все фильтры
                    </button>
                    <div class="main_categories__list flex--row">
                        <div class="multiselect">
                            <select >
                                <option selected hidden>По популярности</option>
                                <option>По возрастанию</option>
                                <option>По убыванию</option>
                            </select>
                        </div>
                        <button class="main_categories_list_item__button button--lgreen button text--default">
                            По поулярности
                        </button>
                        <div class="multiselect">
                            <div class="selectBox" onclick="showCheckboxesC()">
                                <select>
                                    <option>Категория</option>
                                </select>
                                <div class="overSelect"></div>
                            </div>
                            <div id="checkboxesC">
                                {% for c in categories %}
                                <label for="exampleChekbox2{{ c.id }}">
                                    <input  class="form-check-input filter-checkbox" type="checkbox"
                                    name="chekbox" data-filter="category" id="exampleChekbox2{{ c.id }}" value="{{ c.id }}"/>{{ c.name }}
                                </label>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="multiselect text--default">
                            <div class="selectBox text--default" onclick="showCheckboxesU()">
                                <select>
                                    <option>Вселенные</option>
                                </select>
                                <div class="overSelect"></div>
                            </div>
                            <div id="checkboxesU">
                                {% for u in universes %}
                                    <label for="exampleChekbox3{{ u.id }}">
                                        <input  class="form-check-input filter-checkbox text--default" type="checkbox"
                                        name="checkbox" data-filter="category" id="exampleChekbox3{{ u.id }}" value="{{ u.id }}"/>{{ u.name }}
                                    </label>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="multiselect text--default">
                            <div class="selectBox text--default" onclick="showCheckboxesS()">
                                <select>
                                    <option>Продавец</option>
                                </select>
                                <div class="overSelect"></div>
                            </div>
                            <div id="checkboxesS">
                                {% for s in sellers %}
                                    <label for="exampleChekbox4{{ s.id }}">
                                        <input  class="form-check-input filter-checkbox text--default" type="checkbox"
                                        name="checkbox" data-filter="category" id="exampleChekbox4{{ s.id }}" value="{{ s.id }}"/>{{ s.username }}
                                    </label>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="multiselect text--default">
                            <div class="selectBox text--default" onclick="showPriceFilter()">
                                <select>
                                    <option>Цена</option>
                                </select>
                                <div class="overSelect"></div>
                            </div>
                            <div id="price-filter">
                                <div style="display: flex; gap: 1%;">
                                    <input type="number" id="min_price" name="min_price" style="width: 48%;" min="{{ min_max_price.price__min }}" value="{{ min_max_price.price__min }}">-
                                    <input type="number" id="max_price" name="max_price" style="width: 48%;" max="{{ min_max_price.price__max }}" value="{{ min_max_price.price__max }}">
                                </div>
                                <button id="price-filter-btn" type="submit" style="width: 100%;">Фильтр</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="filtered-product" class="main__products flex--row">
                    {% for product in products %}
                        <div class="main_products__card">
                            <img class="main_products_card__image image" src="{% if product.preview %}{{ product.preview.url }}{% else %}{% static 'images/placeholderImage.png' %}{% endif %}">
                            <a class="main_products_card__name text--default" href="{% url 'catalog:product_detail' product.id %}">{{ product.name }}</a>
                            <p class="main_products_card__price text--default">{{ product.price }} &#8381;</p>
                            <form action="." method="POST" class="main_products_card__buttons flex--row">
                                {% csrf_token %}
                                <input hidden name="id" value="{{ product.id }}">
                                <button class="main_products_card_buttons_button button button--dgreen text--default" type="button" 
                                onclick="addCart(this)">
                                    В корзину
                                </button>
                                <button class="main_products_card_buttons_button button button--lgreen text--default" type="button"
                                onclick="addCart(this); window.location.href = '{% url "users:cart" %}';">
                                    Купить
                                </button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}